#HamburgerButtonBox {
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  #hamburgerLine_1,
  #hamburgerLine_2,
  #hamburgerLine_3 {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    transition: transform 0.2s ease, opacity 0.2s ease;
    background-color: rgb(212, 255, 219);
  }
  
  #hamburgerLine_1.active {
    transform:  translateY(9px) rotate(405deg);
  }
  
  #hamburgerLine_2.active {
    opacity: 0;
  }
  
  #hamburgerLine_3.active {
    transform: translateY(-9px) rotate(-405deg);
  }